{% extends "app1_story4/base.html" %}
{% block content %}

<div class="container movie-main">
  <div class="row" id="movie" name="movie">
    <div class="col-12 title-container">
      <h2>Favourite movies</h2>
    </div>
  </div>
  <div
    class="row d-flex justify-content-around movie-content"
  >
    <div class="col-10 moviee col-md-2 spiderman">
      <img src="/static/app1_story4/images/spiderman.jpg" class="poster">
      <br />
      <p>
        Spider-Man: <br>
        Into the Spider-Verse <br>
        2018
      </p>
    </div>
    <div class="col-10 col-md-2 moviee">
      <img src="/static/app1_story4/images/dunkirk.jpg" class="poster">
      <br />
      <p>
        Dunkirk <br>
        2017
      </p>
    </div>
    <div class="col-10 col-md-2 moviee">
      <img src="/static/app1_story4/images/lego.jpg" class="poster">
      <br />
      <p>
        The LEGO Movie<br>
        2014
      </p>
    </div>
    <div class="col-10 col-md-2 moviee">
      <img src="/static/app1_story4/images/imitesen.png" class="poster">
      <br />
      <p>
        The Imitation Game<br>
        2014
      </p>
    </div>
  </div>
  <div
    class="row d-flex justify-content-around movie-content"
  >
    <div class="col-10 col-md-2 moviee">
      <img src="/static/app1_story4/images/mib.jpg" class="poster">
      <br />
      <p>
        Men in Black <br>
        1997
      </p>
    </div>
    <div class="col-10 col-md-2 moviee">
      <img src="/static/app1_story4/images/parasite.jpg" class="poster">
      <br />
      <p>
        Parasite <br>
        2019
      </p>
    </div>
    <div class="col-10 col-md-2 moviee">
      <img src="/static/app1_story4/images/1917.jpg" class="poster">
      <br />
      <p>
        1917 <br>
        2019
      </p>
    </div>
    <div class="col-10 col-md-2 moviee">
      <img src="/static/app1_story4/images/cars.jpg" class="poster">
      <br />
      <p>
        Cars <br>
        2006
      </p>
    </div>
  </div>
</div>

{%endblock%}
