{% extends "app1_story4/base.html" %}
{% block content %}
    <div class="container passion-main">
        <div class="row" id="passion" name="passion">
          <div class="col-12 title-container">
            <h2>What I do</h2>
          </div>
        </div>
        <div
          class="row d-flex justify-content-center flex-lg-wrap passion-content"
        >
          <div class="col-md-3 col-10 passionn">
            <br />
            <h4>DESIGN</h4>
            <br />
            <p>
              To create an amazing website, one must begin with designing it. I
              can help you by designing a beautiful website to be enjoyed by every
              people.
            </p>
          </div>
          <div class="col-md-1 col-10"><!-- empty div d-none d-lg-block--></div>
          <div class="col-md-3 col-10 passionn">
            <br />
            <h4>CREATE</h4>
            <br />
            <p>
              To create an amazing website, one must begin with designing it. I
              can help you by designing a beautiful website to be enjoyed by every
              people.
            </p>
          </div>
        </div>
      </div>
{%endblock%}